<form method="post">
<div class="form-group">
    <label for="amount">Amount</label>
    <div class="input-group">
        <span class="input-group-addon">&pound;</span>
        <input type="number" class="form-control" name="amount" id="amount" step="any">
    </div>
</div>
<div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" name="description" id="description">
</div>
<div class="form-group">
    <label for="applied_on">When</label>
    <input type="date" class="form-control" name="applied_on" id="applied_on" value="{{ today }}">
</div>
<input name="add_expense" type="submit" class="btn btn-default">
</form>
